<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.junmp.togetherhelpee">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature android:name="android.hardware.camera2"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"/>


    <application
            android:allowBackup="true"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <activity
                android:name=".CallActivity"
                android:label=""
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activity.user.register.form.FaceFormActivity"
                android:label=""
                android:screenOrientation="portrait"/>
        <activity
                android:name=".SignupActivity"
                android:label=""
                android:screenOrientation="portrait"/>
        <activity
                android:name=".MainActivity"
                android:label=""
                android:screenOrientation="portrait"></activity>

        <service android:name=".GpsInfo"/>

        <activity
                android:name=".MatchActivity"
                android:label=""
                android:screenOrientation="portrait"/>

        <activity
                android:name=".activity.home.HomeActivity"
                android:label=""
                android:screenOrientation="portrait"/>

        <activity
                android:name=".activity.home.HomeWebViewActivity"
                android:label="Home"
                android:screenOrientation="portrait"/>


        <activity
                android:name=".activity.user.register.form.NameFormActivity"
                android:label=""
                android:screenOrientation="portrait"/>

        <activity
                android:name=".activity.user.register.form.AgeFormActivity"
                android:label=""
                android:screenOrientation="portrait"/>


        <activity
                android:name=".activity.user.register.form.ConfirmActivity"
                android:label=""
                android:screenOrientation="portrait"/>

        <activity
                android:name=".activity.volunteer.request.form.VolunteerFormActivity"
                android:label=""
                android:screenOrientation="portrait"/>

        <activity
                android:name=".activity.volunteer.request.form.RequestDoneActivity"
                android:label=""
                android:screenOrientation="portrait"/>


        <activity
                android:name=".activity.volunteer.recommend.RecommendActivity"
                android:label=""
                android:screenOrientation="portrait"/>

        <activity
                android:name=".activity.volunteer.matched.MatchedActivity"
                android:label=""
                android:screenOrientation="portrait"/>

        <activity
                android:name=".activity.volunteer.match.MatchRetryActivity"
                android:label=""
                android:screenOrientation="portrait"/>


        <activity
                android:name=".ErrorActivity"
                android:label=""
                android:screenOrientation="portrait"/>
        <activity
                android:name=".StartActivity"
                android:label=""
                android:screenOrientation="portrait"/>
        <activity
                android:name=".IngActivity"
                android:label=""
                android:screenOrientation="portrait"/>

        <receiver android:name=".processTimerReceiver">
            <intent-filter>
                <action android:name="processTimerReceiver"/>
            </intent-filter>
        </receiver>

        <activity
                android:name=".FeedbackActivity"
                android:label=""
                android:screenOrientation="portrait"/>
        <activity
                android:name=".EndActivity"
                android:label=""
                android:screenOrientation="portrait"/>
        <activity
                android:name=".Call2Activity"
                android:label=""
                android:screenOrientation="portrait"/>
        <activity
                android:name=".activity.splash.SplashActivity"
                android:label=""
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".common.ui.popup.FcmPopup"
                  android:label=""
                  android:theme="@android:style/Theme.DeviceDefault.Light.Dialog">
        </activity>
    </application>

</manifest>